<section id="about">
  <div class="page-header">
    <h1>Where/When/How <small>What You Need To Know</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <h4>Where</h4>
      <p>Our celebration will take place at the <b>Battleground Country Club</b> in <b>Manalapan, New Jersey</b>.<br>The address is:<p>
      <div class="flt-cnt">
      <p class="where-left">
        <br>
        1 Covenhoven Road<br>
        Manalapan, NJ 07726<br>
        732.462.7575<br>
        <br>
        Battleground CC website:<br><a href="http://www.battlegroundcc.com/" target="_blank">http://www.battlegroundcc.com/</a><br>
      </p>

      <p class="where-right">
        <br>
        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Battleground+Country+Club,+Manalapan,+NJ&amp;aq=&amp;sll=40.279295,-74.335819&amp;sspn=0.079821,0.099134&amp;ie=UTF8&amp;hq=Battleground+Country+Club,&amp;hnear=Manalapan,+Monmouth,+New+Jersey&amp;t=m&amp;cid=525096874162406850&amp;ll=40.273829,-74.337959&amp;spn=0.026194,0.034246&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      </p>
      </div>

      <div class="flt-cnt">
      <h4>When</h4>
      <p>
        Saturday, October 20, 2012<br>
        <b>5:00pm</b>
      </p>
      <br>
      <br>
      </div>
      <h4>How</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>If you have any questions, please don't hesitate to contact us at <a href="mailto:thehappycouple@patriciaandjonathan.com">thehappycouple@patriciaandjonathan.com</a></p>
    </div>
  </div>
</section>
