<section id="bridesmaids">
  <div class="page-header">
    <h1>Bridesmaids <small>The Girls</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <div id="bridesmaidsCarousel" class="carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="img-cont">
                <div class="img-cont-left-image">
                  <img src="http://placehold.it/325x400" alt="800x400">
                </div>
                <div class="img-cont-right-text">
                  <span class="name">Kathleen Kirby</span>
                  <br>
                  <span class="title">Sister</span>
                  <p>
                    Kathleen and I go back to 1982, I was the crying bundle of joy that 2-year-old Kathleen just couldn't help but to pinch.  Kathleen's pinching days (fortunately) are behind her and she now fills her time shaping the future generation, kickboxing, and traveling the world. I'm so grateful that Kathleen has agreed to don the plum bridesmaid dress, not only for her caliming presence during the wedding, but more so for her signature dance moves at the reception.
                  </p>
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-text">
                  <span class="name">Moira Kirby</span>
                  <br>
                  <span class="title">Sister</span>
                  <p>
                    The little-sis was pushing hard to stand up at the tee box as both Best Man and Bridesmaid, but happily agreed to be on my side.  Moira is the reason Jon and I met up outside of EBHS, so you could give her credit for this wedding. Besides playing the vital role of matchmaker, Moira is our favorite sharp witted, latte loving, IFC film watching, indie band listening Philadelphian.  Bonus points for anyone at the wedding that get Moira to laugh her signature "90 year old waitress" chuckle.
                  </p>
                </div>
                <div class="img-cont-right-image">
                  <img src="http://placehold.it/325x400" alt="800x400">
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-image">
                  <img src="http://placehold.it/325x400" alt="800x400">
                </div>
                <div class="img-cont-right-text">
                  <span class="name">Joanne Kohlhepp</span>
                  <br>
                  <span class="title">Bestie</span>
                  <p>
                    Joanne and I are coming up on our 12 year friend-iversary, celebrating many years of fun and champagne!  When Joanne isn't developing recipes and throwing amazing parties, she can be found hopping around Harlem searching out the best coffee, sparkly tanks, and finding the newest bars. Jon and I are both so happy to have Jojo in the wedding party (and that she has forgiven Jon for that one time he punched her in the arm) as she is such a HUGE part of our lives!
                  </p>
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-text">
                  <span class="name">Samantha Chu</span>
                  <br>
                  <span class="title">Future Sister-In-Law</span>
                  <p>
                    Sammy is the best sister-in-law a gal can ask for! She is always up for an impromptu dinner, brunch, or trip to DSW.  Sammy is much more than a sister-in-law, she's also our cat dealer. We are forever grateful for her finding Brucie and Steven. I very much look forward to getting to know Sammy better as my Sister-in-Law, although I will still try my darndess to beat the Booperloo's in this upcoming Fantasy Football Season.
                  </p>
                </div>
                <div class="img-cont-right-image">
                  <img src="http://placehold.it/325x400" alt="800x400">
                </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#bridesmaidsCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#bridesmaidsCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</section>
