<section id="groomsmen">
  <div class="page-header">
    <h1>Groomsmen <small>The Boys</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <div id="groomsmenCarousel" class="carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="img-cont">
                <div class="img-cont-left-text">
                  <span class="name">Matt Kolbeck</span>
                  <br>
                  <span class="title">Best Man</span>
                  <p>
                    I've known Matt since we were awkward freshmen in high school.  Aside from getting into the occasional mischief, we both played football and lacrosse in high school that helped solidify the man-bond. Even though we're 3000 miles apart, it only takes a little water to keep the garden growing.  To prove he is truly my best man, Matt was on the receiving end of my first touchdown pass in high school.
                  </p>
                </div>
                <div class="img-cont-right-image">
                  <img src="/static/img/kolbeck.png" alt="Matt Kolbeck">
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-image">
                  <img src="/static/img/middleton.png" alt="Craig Middleton">
                </div>
                <div class="img-cont-right-text">
                  <span class="name">Craig Middleton</span>
                  <br>
                  <span class="title">College Roommate</span>
                  <p>
                    I met Craig during my first week of college at Drew University.  We were both lacrosse players and lived across the hall from each other.  To prove that the world is indeed a small place, Craig and I actually met each other briefly when we were about 5 years old and didn't know until college. He is one of my closest friends - if you run into Craig at the wedding, ask him to tell some Drew stories!
                  </p>
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-text">
                  <span class="name">Derek Haff</span>
                  <br>
                  <span class="title">College Roommate</span>
                  <p>
                    Derek has the best sense of humor of anyone I know.  His ability to deliver jokes, as well as receive jokes, continues to astound me and leave me in tears.  We got to live together for a year during our time at Drew in one of the coolest suites (or so we thought) on campus.  He's an all around great guy who everyone loves - just don't trust him behind the wheel of a golf cart.
                  </p>
                </div>
                <div class="img-cont-right-image">
                  <img src="/static/img/haff.png" alt="Derek Haff">
                </div>
            </div>
          </div>
          <div class="item">
            <div class="img-cont">
                <div class="img-cont-left-image">
                  <img src="/static/img/kkirby.png" alt="Kevin Kirby">
                </div>
                <div class="img-cont-right-text">
                  <span class="name">Kevin Kirby</span>
                  <br>
                  <span class="title">Future Brother-In-Law</span>
                  <p>
                    Kevin is the little brother I never had.  I've never met anyone who knows so much about current events, yet continually breaks his computers by "accidentally" punching them.  I'm fortunate enough that I've known the Kirby family long enough that Kevin feels like a brother to me already, and I'm proud of that.  I'm also very proud that Kevin will officially be the first Division 1 athlete that I'm related to…if he didn't mention it to you 20 times already.
                  </p>
                </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#groomsmenCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#groomsmenCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</section>
