<section id="groomsmen">
  <div class="page-header">
    <h1>Groomsmen <small>blah blah blah</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <div id="groomsmenCarousel" class="carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="http://placehold.it/800x400" alt="800x400">
          </div>
          <div class="item">
            <img src="http://placehold.it/800x400" alt="800x400">
          </div>
          <div class="item">
            <img src="http://placehold.it/800x400" alt="800x400">
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#groomsmenCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#groomsmenCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</section>
