{% extends "layout.html" %}

{% block content %}

<section id="our-story">
    <div class="page-header">
        <h1>Our Story <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span14">
            <a href="#"><img src="http://placehold.it/800x400" alt="800x400"></a>
        </div>
    </div>
</section>

<section id="photos">
    <div class="page-header">
        <h1>Photos <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="media-grid">
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="groomsmen">
    <div class="page-header">
        <h1>Groomsmen <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="media-grid">
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="bridesmaids">
    <div class="page-header">
        <h1>Bridesmaids <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="media-grid">
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="about">
    <div class="page-header">
        <h1>Where/When/How <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="media-grid">
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="registry">
    <div class="page-header">
        <h1>Registry <small>blah blah blah</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="media-grid">
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
                <li>
                    <a href="#"><img src="http://placehold.it/210x140" alt="210x140"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
