<section id="our-story">
  <div class="page-header">
    <h1>Our Story <small>blah blah blah</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <p>
        Back in 1999, Jonathan and Patricia were classmates at EBHS.  The sparks didn't fly just yet.  Jon was too preoccupied with <i>Dawson's Creek</i> while Patricia spent her time doing her homework and going to bed early.  Fast forward to 2007, Patricia's younger sister Moira, who coincidentally is one of Jonathan's BFFL's and also a Latin classmate, invited her along to Jon's housewarming party.  At the end of the night, Patricia scored an invitation to join Jon's dodgeball team.  After a few games, he was won over by her athletic abilities and all around superb dodgeball skills.  The happy couple went on a super awkward first date and the rest is history!
      </p>
      <p>
        Jonathan popped the question in August 2011 on the beach in Manasquan, NJ.  A tearful 'yes' followed!  Jonathan and Patricia are looking forward to celebrating with all their family and friends on October 20th and to starting their life together as the Chu's.
      </p>
    </div>
  </div>
</section>
