<section id="photos">
  <div class="page-header">
    <h1>Photos <small>Through the years</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      <div id="photosCarousel" class="carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="/static/img/photos-01.png" alt="800x400">
          </div>
          <div class="item">
            <img src="/static/img/photos-02.png" alt="800x400">
            {# <div class="carousel-caption"> #}
            {#   <h4>Ready to take the dive!</h4> #}
            {# </div> #}
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photosCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photosCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</section>
